

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background-image: url("image/header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin-inline: auto;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  background-color: #225e69;
}


.nav__logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.nav__logo a span {
  color:  #ff6f00;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: #225e69 ;
  transition: 0.5s;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  white-space: nowrap;
  color: white;
  transition: 0.3s;
}

.nav__links a:hover {
  color: #ff6f00;
}

.content {
  position: relative;
  isolation: isolate;
  min-height: 100vh;
  max-width:600px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.content::before {
  position: absolute;
  content: "";
  right: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(1, 19, 27, 0.9);
  z-index: -2;
}

.content h1 {
  margin-bottom: 2rem;
  color:white;
}

.content h4 {
  margin-bottom: 20px;
  font-weight: 200;
  color: white;
}

.content h2 {
  margin-bottom: 5px;
  font-weight: 700;
  color:white;
}

.content h6 {
  margin-bottom: 10px;
  font-weight: 400;
  color: #ff6f00;
}

.content h6 span {
  font-weight: 600;
}

.content form {
  margin-bottom: 27px;
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
  background-color:white;
}

.content input {
  width: 100%;
  padding: 5px 7px;
  outline: none;
  border: none;
  font-size: 17px;
  color: #225e69;
}


.content p {
  margin-bottom: 40px;
  font-weight: 200;
  color: white;
  line-height: 25px;
}

.socials {
  display: flex;
  gap: 2rem;
}

.socials a {
  font-size: 25px;
  color: #225e69;
}

.socials a:hover {
  color: white;
}




  nav {
    position: static;
    background-color: rgba(1, 19, 27, 1);
  }

  .nav__bar {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
     width: 100%;
  max-width: 1600px;
  }

  

.nav__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:rgba(1, 19, 27, 1) ;
}


  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    transform: none;
    z-index: unset;
  }

  .content {
    padding: 5rem 1rem;
    align-items: flex-start;
    text-align: left;
    margin-inline-start: unset;
  }

  .content h1 {
    font-size: 5rem;
    line-height: 5rem;
  }

  .content h4 {
    font-size: 2rem;
  }

  .content h2 {
    font-size: 2rem;
  }


